extends base

block content

    script.
        //-To get the token from the url  
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const token = urlParams.get('token');

    main.main
        .registration-form
            h2.heading-secondary.ma-bt-lg Reset Your Password
            form.form.form--resetPassword
                .form__group
                    label.form__label(for='password') New Password
                    input#password.form__input(
                        type='password',
                        placeholder='••••••••',
                        required,
                        minlength='8'
                    )
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirmation') Password Confirm
                    input#passwordConfirmation.form__input(
                        type='password',
                        placeholder='••••••••',
                        required,
                        minlength='8'
                    ) 
                    //-this is to send a value of token to the index.
                    input(type='hidden', id='token', value=`${token}`)
                .form__group
                    button.btn.btn--green Save